apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ required "Values.statefulsetName is required" .Values.statefulsetName }}
  namespace: {{ .Release.Namespace }}
  annotations:
    gardener.cloud/owned-by: "{{ .Release.Namespace }}/{{ required "Values.name is required" .Values.name }}"
    gardener.cloud/owner-type: "etcd"
{{- if .Values.annotations }}
{{ toYaml .Values.annotations | indent 4 }}
{{- end }}
  labels:
    #instance: {{ .Values.name }}
{{- if .Values.labels }}
{{ toYaml .Values.labels | indent 4 }}
{{- end }}
spec:
  updateStrategy:
    type: RollingUpdate
  serviceName: {{ required "Values.serviceName is required" .Values.serviceName }}
  replicas: {{ required "Values.etcd.replicas is required" .Values.etcd.replicas }}
  selector:
    matchLabels:
      #instance: {{ .Values.name }}
      {{- if .Values.labels }}
{{ toYaml .Values.labels | indent 6 }}
{{- end }}
  template:
    metadata:
      annotations:
        checksum/etcd-bootstrap-configmap: {{ include (print $.Template.BasePath "/etcd-bootstrap-configmap.yaml") . | sha256sum }}
{{- if .Values.annotations }}
{{ toYaml .Values.annotations | indent 8 }}
{{- end }}
      labels:
        #instance: {{ .Values.name }}
{{- if .Values.labels }}
{{ toYaml .Values.labels | indent 8 }}
{{- end }}
    spec:
      #hostAliases:
      #- ip: "127.0.0.1"
{{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName }}
{{- end }}
      containers:
      - name: etcd
        image: {{ required "Values.etcd.image is required" .Values.etcd.image }}
        imagePullPolicy: {{ required "Values.etcd.pullPolicy is required" .Values.etcd.pullPolicy }}
        command:
          - /var/etcd/bin/bootstrap.sh
        livenessProbe:
          exec:
            command:
            - /bin/sh
            - -ec
            - ETCDCTL_API=3
            - etcdctl
{{- if .Values.etcd.enableTLS }}
            - --cert=/var/etcd/ssl/client/tls.crt
            - --key=/var/etcd/ssl/client/tls.key
            - --cacert=/var/etcd/ssl/ca/ca.crt
            - --endpoints=https://{{ .Values.serviceName }}:{{ required "Values.etcd.clientPort is required" .Values.etcd.clientPort }}
{{ else }}
            - --endpoints=http://{{ .Values.serviceName }}:{{ required "Values.etcd.clientPort is required" .Values.etcd.clientPort }}
{{ end }}
# {{- if and .Values.etcd.username .Values.etcd.password }}
#             - --user={{ .Values.etcd.username }}:{{ .Values.etcd.password }}
# {{- end }}
            - get
            - foo
          initialDelaySeconds: 15
          periodSeconds: 5
        ports:
          - containerPort: {{ required "Values.etcd.serverPort is required" .Values.etcd.serverPort }}
            name: etcd-server
            protocol: TCP
          - containerPort: {{ required "Values.etcd.clientPort is required" .Values.etcd.clientPort }}
            name: etcd-client
            protocol: TCP
        env:
          - name: "POD_NAME"
            valueFrom:
              fieldRef:
                fieldPath: "metadata.name"
          - name: "POD_IP"
            valueFrom:
              fieldRef:
                fieldPath: "status.podIP"
        resources:
{{ toYaml .Values.etcd.resources | indent 10 }}
        volumeMounts:
          - name: {{ .Values.volumeClaimTemplateName }}
            mountPath: /var/etcd/data/
          - name: etcd-bootstrap-sh
            mountPath: /var/etcd/bin/
          # - name: etcd-config-file
          #   mountPath: /var/etcd/config/
{{- if .Values.etcd.enableTLS }}
          - name: ca-etcd
            mountPath: /var/etcd/ssl/ca
          - name: etcd-server-tls
            mountPath: /var/etcd/ssl/server
          - name: etcd-client-tls
            mountPath: /var/etcd/ssl/client
{{- end }}
      - name: backup-restore
        command:
        - etcdbrctl
        - server
        - --config-file=/var/etcdbr/config/etcdbr.conf.yaml
        image: {{ required "Values.backup.image is required" .Values.backup.image }}
        imagePullPolicy: {{ required "Values.backup.pullPolicy is required" .Values.backup.pullPolicy }}
        ports:
        - containerPort: {{ required "Values.backup.port is required" .Values.backup.port }}
          name: backup-server
          protocol: TCP
        resources:
{{ toYaml .Values.backup.resources | indent 10 }}
        env:
        # - name: STORAGE_CONTAINER
        #   value: {{ .Values.store.storageContainer }}
{{- if eq .Values.store.storageProvider "S3" }}
        - name: "AWS_REGION"
          valueFrom:
            secretKeyRef:
              name: {{ .Values.store.storeSecret }}
              key: "region"
        - name: "AWS_SECRET_ACCESS_KEY"
          valueFrom:
            secretKeyRef:
              name: {{ .Values.store.storeSecret }}
              key: "secretAccessKey"
        - name: "AWS_ACCESS_KEY_ID"
          valueFrom:
            secretKeyRef:
              name: {{ .Values.store.storeSecret }}
              key: "accessKeyID"
{{- else if eq .Values.store.storageProvider "ABS" }}
        - name: "STORAGE_ACCOUNT"
          valueFrom:
            secretKeyRef:
              name: {{ .Values.store.storeSecret }}
              key: "storageAccount"
        - name: "STORAGE_KEY"
          valueFrom:
            secretKeyRef:
              name: {{ .Values.store.storeSecret }}
              key: "storageKey"
{{- else if eq .Values.store.storageProvider "GCS" }}
        - name: "GOOGLE_APPLICATION_CREDENTIALS"
          value: "/root/.gcp/serviceaccount.json"
{{- else if eq .Values.store.storageProvider "Swift" }}
        - name: "OS_AUTH_URL"
          valueFrom:
            secretKeyRef:
              name: {{ .Values.store.storeSecret }}
              key: "authURL"
        - name: "OS_DOMAIN_NAME"
          valueFrom:
            secretKeyRef:
              name: {{ .Values.store.storeSecret }}
              key: "domainName"
        - name: "OS_USERNAME"
          valueFrom:
            secretKeyRef:
              name: {{ .Values.store.storeSecret }}
              key: "username"
        - name: "OS_PASSWORD"
          valueFrom:
            secretKeyRef:
              name: {{ .Values.store.storeSecret }}
              key: "password"
        - name: "OS_TENANT_NAME"
          valueFrom:
            secretKeyRef:
              name: {{ .Values.store.storeSecret }}
              key: "tenantName"
{{- else if eq .Values.store.storageProvider "OSS" }}
        - name: "ALICLOUD_ENDPOINT"
          valueFrom:
            secretKeyRef:
              name: {{ .Values.store.storeSecret }}
              key: "storageEndpoint"
        - name: "ALICLOUD_ACCESS_KEY_SECRET"
          valueFrom:
            secretKeyRef:
              name: {{ .Values.store.storeSecret }}
              key: "accessKeySecret"
        - name: "ALICLOUD_ACCESS_KEY_ID"
          valueFrom:
            secretKeyRef:
              name: {{ .Values.store.storeSecret }}
              key: "accessKeyID"
{{- end }}
        volumeMounts:
        - name: {{ required "Values.volumeClaimTemplateName is required" .Values.volumeClaimTemplateName }}
          mountPath: /var/etcd/data
        - name: etcdbr-config-file
          mountPath: /var/etcdbr/config/
{{- if .Values.etcd.enableTLS }}
        - name: ca-etcd
          mountPath: /var/etcd/ssl/ca
        - name: etcd-server-tls
          mountPath: /var/etcd/ssl/server
        - name: etcd-client-tls
          mountPath: /var/etcd/ssl/client
{{- end }}
{{- if eq .Values.store.storageProvider "GCS" }}
        - name: etcd-backup
          mountPath: "/root/.gcp/"
{{- end }}
      volumes:
      - name: etcd-bootstrap-sh
        configMap:
          name: {{ .Values.configmapName }}
          defaultMode: 356
          items:
          - key: bootstrap.sh
            path: bootstrap.sh
      # - name: etcd-config-file
      #   configMap:
      #     name: {{ .Values.configmapName }}
      #     defaultMode: 0644
      #     items:
      #     - key: etcd.conf.yaml
      #       path: etcd.conf.yaml
      - name: etcdbr-config-file
        configMap:
          name: {{ .Values.configmapName }}
          defaultMode: 0644
          items:
          - key: etcdbr.conf.yaml
            path: etcdbr.conf.yaml
{{- if .Values.etcd.enableTLS }}
      - name: etcd-server-tls
        secret:
          secretName: {{ .Values.tlsServerSecret }}
      - name: etcd-client-tls
        secret:
          secretName: {{ .Values.tlsClientSecret }}
      - name: ca-etcd
        secret:
          secretName: {{ .Values.tlsCASecret }}
{{- end }}
{{- if eq .Values.store.storageProvider "GCS" }}
      - name: etcd-backup
        secret:
          secretName: {{ .Values.store.storeSecret }}
{{- end }}
  volumeClaimTemplates:
  - metadata:
      name: {{ required "Values.volumeClaimTemplateName is required" .Values.volumeClaimTemplateName }}
    spec:
      accessModes:
      - "ReadWriteOnce"
{{ if .Values.storageClass }}
      storageClassName: {{ .Values.storageClass }}
{{ end }}
{{ if .Values.storageCapacity }}
      resources:
        requests:
          storage: {{ .Values.storageCapacity }}
{{ end }}