# Ignore everything
**

# Exclude folders relevant for build
!.git
!.dockerignore
!api/
!charts/
!controllers/
!client/
!pkg/
!cmd/
!test/
!internal/
!vendor/
!.golangci.yaml
!go.mod
!go.sum
!LICENSE.md
!Makefile
!VERSION
!hack/get-version.sh
!hack/tools.mk
