/args
/bin
/.kube-secrets
/tmp/*
/dev
/vendor
*.test
default.etcd*
default.bkp*

*.coverprofile
/cover.out
*coverprofile.out
*.html
.ignore
*~

./etcd-druid
TODO
.vagrant
config.ign.merged
config.img
config.vmdk

hack/e2e-test/infrastructure/overlays/gcp/common/assets
hack/e2e-test/infrastructure/kind/kubeconfig

/test/integration/resources/charts/*
/test/integration/resources/repository/cache
/test/integration/resources/shoots

# Virtual go & fuse
.virtualgo
.fuse_hidden*

.cache_ggshield
.gitguardian.yaml

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# gosec
gosec-report.sarif

# env file
.env

# code editor ignores
.vscode
.idea
.DS_Store

# hack tools binaries
/hack/tools/bin/*
/hack/kind/*
api/hack/tools/bin/*

# generated/copied chart resources
charts/pki-resources/*
charts/crds/*