/args
/bin
/hack/tools/bin
/.kube-secrets
/tmp/*
/dev
*.test

*.coverprofile
/cover.out
*coverprofile.out
*.html
.vscode
.idea
.DS_Store
*~

./etcd-druid
TODO
.vagrant
config.ign.merged
config.img
config.vmdk

hack/e2e-test/infrastructure/overlays/gcp/common/assets

/test/integration/resources/charts/*
/test/integration/resources/repository/cache
/test/integration/resources/shoots

# Virtual go & fuse
.virtualgo
.fuse_hidden*

.cache_ggshield
.gitguardian.yaml

