---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: etcd-druid
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: etcd-druid
webhooks:
  {{- if ((.Values.webhooks).sentinel).enabled }}
  - admissionReviewVersions:
      - v1beta1
      - v1
    clientConfig:
      caBundle: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUM3ekNDQWRlZ0F3SUJBZ0lKQU51a3lQUVVxYnhNTUEwR0NTcUdTSWIzRFFFQkN3VUFNQlV4RXpBUkJnTlYKQkFNTUNtVjBZMlF0WkhKMWFXUXdIaGNOTWpRd01URTRNVFV6TVRJeldoY05NelF3TVRFNE1UVXpNVEl6V2pBVgpNUk13RVFZRFZRUUREQXBsZEdOa0xXUnlkV2xrTUlJQklqQU5CZ2txaGtpRzl3MEJBUUVGQUFPQ0FROEFNSUlCCkNnS0NBUUVBeWx1TFQveTl1YmxVdVJ0NDBOUW1xRTVFSWxlakROVTRnREd3WDJ3K2t6RHZ0bFdsYlF0STdQSVoKWTZSK1kvYXF2OHhiOCt3R0tlWEM4bGtSQ1BsZjNIdGpTVUxWUkkzYnVBd29WODJ2YjU4NlQ5Z0Q3OHJKVHdYVwpxcm1kc25VUGR5UzAwSlFQY2d3TzE3QW9DSXl0MkVyclQzWlpyMFpsMVJsUWZoTTc0VVpNbi8xeTJqNUFmUTJPCmh2emdmYnl6ZHZNT0hycnd4NHoxblBsVjNPU3M3WGo3TkM5UDZ4bnBTVTU1MnF1bkZmTDdUc3U3OTQ4NWdZZ3AKOFYrTG9oclY0MWdGWmNlVlh6Y3k1TGhGK093eFBGSG0rMlJlWTZ2UmxmMlU5S2lTTzA2MVBOcy9DYklhWDZucwpmMC9oTVJYbm16c0Q2VU1zd0ZxT0Q4UWw3VTUzQ1FJREFRQUJvMEl3UURBT0JnTlZIUThCQWY4RUJBTUNBYVl3CkR3WURWUjBUQVFIL0JBVXdBd0VCL3pBZEJnTlZIUTRFRmdRVXFWUG93RXR4akFvT0xtOVl6ZUhIZzBFMmdWb3cKRFFZSktvWklodmNOQVFFTEJRQURnZ0VCQUR3ZGduT25POStWNmNvdTQ4Z1czeUtONVhMNmJkRm5mbng5aldlTQpkelBsc2tBa0hKTzAvTXpqbk1DUnFxQmREajM2Yzcvb3lJcEpBall1ZmFrMXJDcW9rVEpHOVNzTlE4VlJmT0FSCkRRU0o0YmsrMzNQT29MSnNrZTNzdm9ZM0RPc3h4RzZNT0o5S29aRTFaeWxEd3hrYVo0U212b1NmTStmUHU3aloKenA1RWJXVnE0YmJUYjgrRnZqSDQ5bmY1eGY1WHJLbTJ1Z3dZZWIwWnpnYkIrSGdNSHRvMGtWcXFObVlrbDYyMwp0NFBOV3Q1ck9sY2swd1dKeVVZZHdONk1qQWQrZVZaQmJRRzQ3TWpZNTJTenBwbGNQdVJuaU81Q0tKb0JZdmU1CmZzTUhIR0dXeEg0b2JCNk9WZytIM0pJNGpRWndTUXZGRVBKcm5LNXV0RjdySmw0PQotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg==
      service:
        name: etcd-druid
        namespace: {{ .Release.Namespace }}
        path: /webhooks/sentinel
        port: {{ .Values.controllerManager.server.webhook.port }}
    failurePolicy: Fail
    matchPolicy: Exact
    name: sentinel.webhooks.druid.gardener.cloud
    namespaceSelector: {}
    objectSelector:
      matchLabels:
        app.kubernetes.io/managed-by: etcd-druid
    rules:
      - apiGroups:
          - ""
        apiVersions:
          - v1
        operations:
          - UPDATE
          - DELETE
        resources:
          - serviceaccounts
          - services
          - configmaps
        scope: '*'
      - apiGroups:
          - rbac.authorization.k8s.io
        apiVersions:
          - v1
        operations:
          - UPDATE
          - DELETE
        resources:
          - roles
          - rolebindings
        scope: '*'
      - apiGroups:
          - apps
        apiVersions:
          - v1
        operations:
          - UPDATE
          - DELETE
        resources:
          - statefulsets
        scope: '*'
      - apiGroups:
          - policy
        apiVersions:
          - v1
        operations:
          - UPDATE
          - DELETE
        resources:
          - poddisruptionbudgets
        scope: '*'
      - apiGroups:
          - batch
        apiVersions:
          - v1
        operations:
          - UPDATE
          - DELETE
        resources:
          - jobs
        scope: '*'
      - apiGroups:
          - coordination.k8s.io
        apiVersions:
          - v1
        operations:
          - DELETE
        resources:
          - leases
        scope: '*'
    sideEffects: None
    timeoutSeconds: 10
  - admissionReviewVersions:
      - v1beta1
      - v1
    clientConfig:
      caBundle: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUM3ekNDQWRlZ0F3SUJBZ0lKQU51a3lQUVVxYnhNTUEwR0NTcUdTSWIzRFFFQkN3VUFNQlV4RXpBUkJnTlYKQkFNTUNtVjBZMlF0WkhKMWFXUXdIaGNOTWpRd01URTRNVFV6TVRJeldoY05NelF3TVRFNE1UVXpNVEl6V2pBVgpNUk13RVFZRFZRUUREQXBsZEdOa0xXUnlkV2xrTUlJQklqQU5CZ2txaGtpRzl3MEJBUUVGQUFPQ0FROEFNSUlCCkNnS0NBUUVBeWx1TFQveTl1YmxVdVJ0NDBOUW1xRTVFSWxlakROVTRnREd3WDJ3K2t6RHZ0bFdsYlF0STdQSVoKWTZSK1kvYXF2OHhiOCt3R0tlWEM4bGtSQ1BsZjNIdGpTVUxWUkkzYnVBd29WODJ2YjU4NlQ5Z0Q3OHJKVHdYVwpxcm1kc25VUGR5UzAwSlFQY2d3TzE3QW9DSXl0MkVyclQzWlpyMFpsMVJsUWZoTTc0VVpNbi8xeTJqNUFmUTJPCmh2emdmYnl6ZHZNT0hycnd4NHoxblBsVjNPU3M3WGo3TkM5UDZ4bnBTVTU1MnF1bkZmTDdUc3U3OTQ4NWdZZ3AKOFYrTG9oclY0MWdGWmNlVlh6Y3k1TGhGK093eFBGSG0rMlJlWTZ2UmxmMlU5S2lTTzA2MVBOcy9DYklhWDZucwpmMC9oTVJYbm16c0Q2VU1zd0ZxT0Q4UWw3VTUzQ1FJREFRQUJvMEl3UURBT0JnTlZIUThCQWY4RUJBTUNBYVl3CkR3WURWUjBUQVFIL0JBVXdBd0VCL3pBZEJnTlZIUTRFRmdRVXFWUG93RXR4akFvT0xtOVl6ZUhIZzBFMmdWb3cKRFFZSktvWklodmNOQVFFTEJRQURnZ0VCQUR3ZGduT25POStWNmNvdTQ4Z1czeUtONVhMNmJkRm5mbng5aldlTQpkelBsc2tBa0hKTzAvTXpqbk1DUnFxQmREajM2Yzcvb3lJcEpBall1ZmFrMXJDcW9rVEpHOVNzTlE4VlJmT0FSCkRRU0o0YmsrMzNQT29MSnNrZTNzdm9ZM0RPc3h4RzZNT0o5S29aRTFaeWxEd3hrYVo0U212b1NmTStmUHU3aloKenA1RWJXVnE0YmJUYjgrRnZqSDQ5bmY1eGY1WHJLbTJ1Z3dZZWIwWnpnYkIrSGdNSHRvMGtWcXFObVlrbDYyMwp0NFBOV3Q1ck9sY2swd1dKeVVZZHdONk1qQWQrZVZaQmJRRzQ3TWpZNTJTenBwbGNQdVJuaU81Q0tKb0JZdmU1CmZzTUhIR0dXeEg0b2JCNk9WZytIM0pJNGpRWndTUXZGRVBKcm5LNXV0RjdySmw0PQotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg==
      service:
        name: etcd-druid
        namespace: {{ .Release.Namespace }}
        path: /webhooks/sentinel
        port: {{ .Values.controllerManager.server.webhook.port }}
    failurePolicy: Fail
    matchPolicy: Exact
    name: stsscale.sentinel.webhooks.druid.gardener.cloud
    namespaceSelector: {}
    rules:
      - apiGroups:
          - apps
        apiVersions:
          - v1
        operations:
          - UPDATE
          - DELETE
        resources:
          - statefulsets/scale
        scope: '*'
    sideEffects: None
    timeoutSeconds: 10
  {{- end }}
