images:
- name: etcd-backup-restore
  resourceId:
    name: 'etcdbrctl'
  sourceRepository: github.com/gardener/etcd-backup-restore
  repository: eu.gcr.io/gardener-project/gardener/etcdbrctl
  tag: "v0.23.0"
- name: etcd
  sourceRepository: github.com/gardener/etcd-custom-image
  repository: eu.gcr.io/gardener-project/gardener/etcd
  tag: "v3.4.13-bootstrap-9"
