images:
- name: etcd-backup-restore
  sourceRepository: github.com/gardener/etcd-backup-restore
  repository: eu.gcr.io/gardener-project/gardener/etcdbrctl
  tag: "v0.15.0"
- name: etcd
  sourceRepository: github.com/gardener/etcd-custom-image
  repository: eu.gcr.io/gardener-project/gardener/etcd
  tag: "v3.4.13-bootstrap-2"
