name: Build

on:
  workflow_call:
    inputs:
      mode:
        required: true
        type: string
        default: snapshot
        description: |
          the mode to use. either `snapshot` or `release`. Will affect effective version, as well
          as target-oci-registry.

jobs:
  prepare:
    uses: gardener/cc-utils/.github/workflows/prepare.yaml@master
    with:
      mode: ${{ inputs.mode }}
      version-commit-callback-action-path:
    permissions:
      contents: read

  oci-images:
    name: Build OCI-Images
    needs:
      - prepare
      - checks
      - tests
      - sast-lint
    permissions:
      contents: read
      packages: write
      id-token: write
    secrets: inherit
    uses: gardener/cc-utils/.github/workflows/oci-ocm.yaml@master
    strategy:
      matrix:
        args:
          - name: etcd-druid
            target:
            oci-repository: gardener/etcd-druid
            ocm-labels:
              name: gardener.cloud/cve-categorisation
              value:
                network_exposure: private
                authentication_enforced: false
                user_interaction: gardener-operator
                confidentiality_requirement: high
                integrity_requirement: high
                availability_requirement: low
    with:
      name: ${{ matrix.args.name }}
      version: ${{ needs.prepare.outputs.version }}
      target: ${{ matrix.args.target }}
      oci-registry: ${{ needs.prepare.outputs.oci-registry }}
      oci-repository: ${{ matrix.args.oci-repository }}
      oci-platforms: linux/amd64,linux/arm64
      ocm-labels: ${{ toJSON(matrix.args.ocm-labels) }}
      extra-tags: latest

  helmcharts:
    name: Build Helmcharts
    needs:
      - prepare
      - oci-images
    permissions:
      contents: read
      packages: write
      id-token: write
    uses: gardener/cc-utils/.github/workflows/helmchart-ocm.yaml@master
    strategy:
      matrix:
        args:
          - name: etcd-druid
            dir: charts
            oci-repository: charts/gardener
            ocm-mappings:
              - ref: ocm-resource:etcd-druid.repository
                attribute: image.repository
              - ref: ocm-resource:etcd-druid.tag
                attribute: image.tag
    with:
      name: ${{ matrix.args.name }}
      dir: ${{ matrix.args.dir }}
      oci-registry: ${{ needs.prepare.outputs.oci-registry }}
      oci-repository: ${{ matrix.args.oci-repository }}
      ocm-mappings: ${{ toJSON(matrix.args.ocm-mappings) }}

  checks:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: gardener/cc-utils/.github/actions/trusted-checkout@master
      - uses: actions/setup-go@v5
        with:
          go-version: '1.25'
      - name: check
        run: make check
      - name: check-license-headers
        run: make check-license-headers
      - name: api-tidy
        run: make --directory=api tidy
      - name: api-check
        run: make --directory=api check
      - name: api-check-generate
        run: |
          git config --global user.email "gardener@sap.com"
          git config --global user.name "Gardener CI/CD"
          make --directory=api check-generate
      - name: prepare helm charts
        run: make prepare-helm-charts
        env:
          K8S_VERSION: 1.34
      - name: check-git-status
        run: make check-git-status
  tests:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        args:
          - name: test-unit
            run: make test-unit
          - name: test-integration
            run: make test-integration
    steps:
      - uses: gardener/cc-utils/.github/actions/trusted-checkout@master
      - uses: actions/setup-go@v5
        with:
          go-version: '1.25'
      - name: run-tests
        shell: bash
        run: |
          set -euo pipefail
          mkdir -p /tmp/blobs.d
          ${{ matrix.args.run }} |& tee /tmp/blobs.d/test-log.txt
          tar czf /tmp/blobs.d/test-log.tar.gz -C /tmp/blobs.d test-log.txt
      - name: add-test-results-to-component-descriptor
        uses: gardener/cc-utils/.github/actions/export-ocm-fragments@master
        with:
          blobs-directory: /tmp/blobs.d
          ocm-resources: |
            - name: test-results
              extraIdentity:
                test: ${{ matrix.args.name }}
              relation: local
              access:
                type: localBlob
                localReference: test-log.tar.gz
              labels:
                - name: gardener.cloud/purposes
                  value:
                    - test
  sast-lint:
    uses: gardener/cc-utils/.github/workflows/sastlint-ocm.yaml@master
    permissions:
      contents: read
    with:
      linter: gosec
      run: make sast-report
      go-version: '1.25'
