name: Release
on:
  workflow_dispatch:
    inputs:
      next-version:
        type: choice
        options:
          - bump-minor
          - bump-patch


jobs:
  build:
    uses: ./.github/workflows/base.yaml
    permissions:
      contents: read
      id-token: write
      packages: write
    with:
      mode: release
      run-tests: true

  release-to-github-and-bump:
    uses: gardener/cc-utils/.github/workflows/release.yaml@master
    needs:
      - build
    secrets: inherit
    permissions:
      contents: write
      id-token: write
      packages: write
    with:
      release-commit-target: branch
      github-tag-template: '${version}'
      github-additional-tag-templates: |
        api/${version}
        client/${version}
      next-version: ${{ inputs.next-version }}
      next-version-callback-action-path:
      slack-channel-id: C0177NLL8V9 # #gardener-etcd
      social-release-notes-recursion-depth: -1
      github-release-notes-recursion-depth: -1
